.login-box {
    width: 400px;
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
  
@media only screen and (max-width: 600px) {
    .login-box{
        width: 90%;
    }
}